name: Surveillance Bourse Automatique

on:
  schedule:
    - cron: '0 8 * * 1-5'         # 9h00 Paris (Ouverture)
    - cron: '*/30 8-15 * * 1-5'   # Toutes les 30 min (Check)
    - cron: '40 16 * * 1-5'       # 17h40 Paris (Clôture)
  workflow_dispatch:              # Bouton manuel

jobs:
  alertes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installation Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installation Bibliothèques
        run: pip install yfinance pandas requests

     - name: Execution du Script
        env:
          PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
          PUSHOVER_API_TOKEN: ${{ secrets.PUSHOVER_API_TOKEN }}
          GH_REPO: ${{ secrets.GH_REPO }}
        run: |
          TIME_NOW=$(date +%H%M)
          
          # 1. Si on clique sur le bouton "Run Workflow" manuellement
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "Lancement MANUEL : Forçage Mode CLÔTURE"
            python check_alerts.py close
          
          # 2. Sinon, on suit le planning automatique (UTC)
          elif [ "$TIME_NOW" -eq "0800" ]; then
            python check_alerts.py open
          elif [ "$TIME_NOW" -ge "1630" ] && [ "$TIME_NOW" -le "1700" ]; then
            python check_alerts.py close
          else
            python check_alerts.py check
          fi
