name: Surveillance Bourse Pushover
on:
  schedule:
    # S'exécute toutes les heures de 9h à 18h (heure UTC), du lundi au vendredi
    - cron: '0 8-17 * * 1-5'
  workflow_dispatch: # Permet de le lancer manuellement pour tester

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install yfinance pandas requests
      - name: Run Alert Script
        env:
          PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
          PUSHOVER_API_TOKEN: ${{ secrets.PUSHOVER_API_TOKEN }}
          GH_REPO: ${{ secrets.GH_REPO }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python check_alerts.py
