name: Surveillance Bourse Automatique

on:
  schedule:
    - cron: '0 8 * * 1-5'
    - cron: '*/30 8-15 * * 1-5'
    - cron: '40 16 * * 1-5'
  workflow_dispatch:

jobs:
  alertes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installation Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installation Bibliothèques
        run: pip install yfinance pandas requests

      - name: Execution du Script
        env:
          PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
          PUSHOVER_API_TOKEN: ${{ secrets.PUSHOVER_API_TOKEN }}
          GH_REPO: ${{ secrets.GH_REPO }}
       run: |
          # Heure UTC (ex: 1640 pour 17h40 Paris)
          TIME_NOW=$(date +%H%M)
          
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            python check_alerts.py close
          elif [ "$TIME_NOW" == "0800" ]; then
            python check_alerts.py open
          # On élargit : tout ce qui tourne entre 16h30 et 23h59 UTC sera un bilan de clôture
          elif [ "$TIME_NOW" -ge "1630" ]; then
            python check_alerts.py close
          else
            python check_alerts.py check
          fi
